<form>
  <div class="form-group">
    <label for="token">Discord Token</label>
    <input type="text" name="token" placeholder="Paste your token from Discord" />
  </div>

  <div class="form-group">
    <label for="actor">Select Character</label>
    <select name="actor">
      {{#each characters}}
        <option value="{{this.id}}" {{#if (eq this.id ../selectedActor)}}selected{{/if}}>
          {{this.name}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="form-group flexrow">
    <button type="submit" class="sync-button"><i class="fas fa-link"></i> Link </button>
    <button type="button" name="sync-from-discord"><i class="fas fa-download"></i> Sync from Discord</button>
    <button type="button" class="cancel"><i class="fas fa-times"></i> Cancel</button>
  </div>
</form>
